@{
  Layout = "_Layout";
}

@using VideoGameInventory.Models;

<h1>Games</h1>

<ul>
  @foreach (Game game in Model)
  {
    <li>@Html.ActionLink($"{game.Name}", "Details", new { id = game.GameId })</li>
  }
</ul>

<p>@Html.ActionLink("Add a new game", "Create")</p>